._1HoPj {
	margin-bottom: 0px !important;
}
figure {
	margin-bottom: 0px !important;
}
/*figure > canvas {
	width: 800px !important;
}*/
#xkToggle {
	background: rgba(0,0,0,.2);
    border: 0;
    color: #fff;
    height: 48px;
    z-index: 4000;
    position: fixed;
    bottom: 10px;
    right: 10px;
}